body {
  margin:0;
  padding:0;
  font-family:"Heebo", sans-serif;
}

.container {
  width:1440px;
  max-width:90%;
  margin:auto;
}

header {
  border:1px solid black;
  height:70px;
}

header .container {
  display:flex;
  height:100%;
  align-items:center;
  justify-content:space-between;
}

.left-side {
  font-size:27px;
  margin:0;
}

.left-side .vr {
  font-weight:bold;
}

.left-side .blue-dot {
  display:inline-block;
  width:10px;
  height:10px;
  border-radius: 5px;
  background-color:#33C6DD;
  vertical-align:middle;
}

header .right-side ul{
  display:flex;
  list-style-type:none;
  gap:16px;
  padding:0;
  margin:0;
}

header .right-side ul li a {
  color:#3E3E3E;
  text-decoration:none;
}

.hero {
  /* hero image defines the height of the hero section */
  position:relative;
}

.hero-content {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.hero .hero-content .container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
}

.hero .hero-content .container h1, 
.hero .hero-content .container p {
  margin:0;
  margin-bottom:20px;
  max-width:495px;
  color:#FFFFFF;
}

.hero .hero-content .container h1 {
  font-size:50px;
  font-weight:400;
  line-height:56px;
}

.hero .hero-content .container p {
  font-size:20px;
  font-weight:200;
  line-height:28px;
}

.hero .hero-content .container button {
  width:200px;
  height:50px;
  background-color:#33C6DD;
  border:none;
  color:#FFFFFF;
  text-transform:uppercase;
  font-weight:400;
  font-size:16px;
  border-radius:100px;
}
