body {
  margin:0;
  padding:0;
}

.container {
  width:1440px;
  max-width:90%;
  margin:auto;
}

header {
  border:1px solid black;
  height:70px;
}

header .container {
  display:flex;
  height:100%;
  align-items:center;
  justify-content:space-between;
}

.left-side {
  font-size:27px;
  margin:0;
}

.left-side .vr {
  font-weight:bold;
}

.left-side .blue-dot {
  display:inline-block;
  width:10px;
  height:10px;
  border-radius: 5px;
  background-color:#33C6DD;
  vertical-align:middle;
}

header .right-side ul{
  display:flex;
  list-style-type:none;
  gap:16px;
  padding:0;
  margin:0;
}

header .right-side ul li a {
  color:#3E3E3E;
  text-decoration:none;
}

.hero {
  position:relative;
}

.hero-content {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.hero .hero-content .container {
  display:flex;
  height:100%;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}

.hero .hero-content h1, .hero .hero-content p {
  margin:0;
  margin-bottom:20px;
  max-width:495px;
}