body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

/* Large Desktop > 1440px */
.container {
  width: 1440px;
  max-width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
}

header {
  border: 1px solid black;
  height: 70px;
}

header .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  font-size: 27px;
  margin: 0;
}

.left-side .vr {
  font-weight: bold;
}

.left-side .blue-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #33C6DD;
  vertical-align: middle;
}

header .right-side ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

header .right-side ul li a {
  color: #3E3E3E;
  text-decoration: none;
}

.hero {
  /* hero image defines the height of the hero section */
  position: relative;
  margin-bottom: 90px;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .hero-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero .hero-content .container h1,
.hero .hero-content .container p {
  margin: 0;
  margin-bottom: 20px;
  max-width: 495px;
  color: #FFFFFF;
}

.hero .hero-content .container h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 56px;
}

.hero .hero-content .container p {
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
}

.hero .hero-content .container button {
  width: 200px;
  height: 50px;
  background-color: #33C6DD;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-radius: 100px;
}

.best-sellers {
  margin-bottom: 80px;
}

.best-sellers h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.best-sellers hr {
  width: 66px;
  height: 6px;
  background-color: #33C6DD;
  border: none;
  margin-bottom: 76px;
}

.best-sellers .product-slider .container {
  display: flex;
  justify-content: space-around;

}

.product-slider .product {
  text-align: center;
  width: 33%;
  border: 1px solid #DDDDDD;
  padding: 40px;
  border-radius: 8px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-slider .product.new::before {
  content: "New";
  background-color: #614DC9;
  color: white;
  padding: 5px 26px;
  border-radius: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 12px;
  right: 12px;
}

.product-slider .product .product-picture img {
  max-width: 100%;
}

.product-slider .product .product-info {
  margin-top: 50px;
}

.product-slider .product h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #3E50E5;
  margin-top: 0;
  margin-bottom: 10px;
}

.product-slider .product h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.product-slider .product .price.discount h3 {
  color: #EC1C1C;
}

.product-slider .product .price h3 {
  font-weight: 700;
  font-size: 28px;
  color: #000000;
  margin-top: 0;
  margin: 0;
}

.product-slider .product .price span.original-price {
  margin: 0 10px;
  font-weight: 400;
  font-size: 16px;
  color: #9B9B9B;
  text-decoration: line-through;
}

.product-slider .product button {
  height: 44px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: transparent;
  width: 220px;
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

section.newsletter {
  border: 1px solid black;
  width: 955px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 72px 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  text-align: center;
}

section.newsletter h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}

section.newsletter p {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
}

section.newsletter input[type=email] {
  width: 326px;
  padding: 14px 24px;
  border-radius: 150px 0 0 150px;
  font-size: 14px;
}

section.newsletter button[type=submit] {
  width: 145px;
  text-transform: uppercase;
  background-color: #614DC9;
  color: white;
  padding: 14px 36px;
  font-size: 14px;
  border: none;
  border-radius: 0 70px 70px 0;
  height: 45px;
  text-align: center;
}

section.navigation {
  background-color: #3E3E3E;
  color: #FFFFFF;
  padding: 60px 0;
}

section.navigation .navigation-links {
  width: 955px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

section.navigation .navigation-links ul {
  width: 25%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

section.navigation .navigation-links ul li.heading {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}

section.navigation .navigation-links ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

section.navigation .navigation-links ul li:last-of-type {
  margin-bottom: 0;
}

section.navigation .navigation-links ul li a {
  color: #E0E0E0;
}

footer {
  text-align: center;
  padding: 18px 0;
  background-color: black;
  color: #E0E0E0;
  font-weight: 400;
  font-size: 16px;
}












/* Smaller Desktop */
@media screen and (max-width:1440px) {
  .container {
    width: 1180px;
    max-width: 90%;
  }

  .hero {
    margin-bottom: 70px;
  }

  .hero .hero-content .container h1,
  .hero .hero-content .container p {
    margin: 0;
    margin-bottom: 12px;
  }

  .hero .hero-content .container h1 {
    font-size: 44px;
    line-height: 50px;
  }

  .hero .hero-content .container p {
    font-size: 18px;
    line-height: 26px;
  }

  .hero .hero-content .container button {
    font-size: 14px;
  }

  .best-sellers {
    margin-bottom: 70px;
  }

  .best-sellers h2 {
    margin-bottom: 16px;
  }

  .best-sellers hr {
    margin-bottom: 70px;
  }

  .product-slider .product {
    padding: 30px;
  }

  .product-slider .product h5 {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .product-slider .product h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .price {
    margin-bottom: 6px;
  }

  .product-slider .product .price h3 {
    font-size: 24px;
  }

  .product-slider .product .price span.original-price {
    margin: 0 5px;
    font-size: 14px;
  }

  .product-slider .product button {
    font-size: 14px;
    height: 40px;
    width: 180px;
  }

  section.newsletter {
    width: 880px;
    padding: 50px 0;
    margin-bottom: 70px;
  }

  section.newsletter h3 {
    font-size: 22px;
  }

  section.newsletter p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  section.newsletter input[type=email] {
    font-size: 12px;
  }

  section.newsletter button[type=submit] {
    padding: 14px 40px;
    font-size: 12px;
  }

  section.navigation {
    padding: 50px 0;
  }

  section.navigation .navigation-links {
    width: 1180px;
    max-width: 90%;
  }

  section.navigation .navigation-links ul li.heading {
    font-size: 16px;
    margin-bottom: 12px;
  }

  section.navigation .navigation-links ul li {
    font-size: 14px;
  }

  footer {
    padding: 14px 0;
    font-size: 14px;
  }
}














/* Tablet */
@media screen and (max-width:960px) {
  .container {
    width: 92%;
    max-width: 92%;
  }

  .hero {
    margin-bottom: 44px;
  }

  .hero .hero-content .container h1 {
    font-size: 40px;
    line-height: 46px;
  }

  .hero .hero-content .container p {
    font-size: 16px;
    line-height: 24px;
  }

  .hero .hero-content .container button {
    font-size: 14px;
    width: 196px;
  }

  .best-sellers {
    margin-bottom: 50px;
  }

  .best-sellers h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .best-sellers hr {
    margin-bottom: 48px;
  }

  .product-slider .product {
    padding: 20px;
    margin: 0 9px;
  }

  .product-slider .product.new::before {
    font-size: 11px;
    top: 6px;
    right: 6px;
  }

  .product-slider .product .product-info {
    margin-top: 30px;
  }

  .product-slider .product h5 {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .product-slider .product h4 {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .price {
    margin-bottom: 6px;
  }

  .product-slider .product .price h3 {
    font-size: 16px;
  }

  .product-slider .product .price span.original-price {
    font-size: 9px;
  }

  .product-slider .product button {
    font-size: 12px;
    height: 36px;
    width: 146px;
  }

  section.newsletter {
    width: 880px;
    padding: 50px 0;
    margin-bottom: 70px;
  }

  section.newsletter h3 {
    font-size: 22px;
  }

  section.newsletter p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  section.newsletter input[type=email] {
    font-size: 12px;
  }

  section.newsletter button[type=submit] {
    padding: 14px 40px;
    font-size: 12px;
  }

  section.navigation {
    padding: 50px 0;
  }

  section.navigation .navigation-links {
    width: 1180px;
    max-width: 90%;
  }

  section.navigation .navigation-links ul li.heading {
    font-size: 16px;
    margin-bottom: 12px;
  }

  section.navigation .navigation-links ul li {
    font-size: 14px;
  }

  footer {
    padding: 14px 0;
    font-size: 14px;
  }

}










/* Mobile */
@media screen and (max-width:576px) {
  .container {
    width: 92%;
    max-width: 92%;
  }
}